

*/profile
*.bak
*.psd
*.mdp
*.log
*log.txt
backup-weekly/f_lowe_y/ghost/master/ssp_shiori_log.txt
backup-weekly/statusBOT/ghost/master/ssp_shiori_log.txt
backup-weekly/statusBOT/ghost/master/ssp_shiori_log.txt
Updates/aya-f_lowe_y/ghost/master/profile/var.txt
