# exclude logs
**/*.log

**/ssp_shiori_log.txt
**/yaya_variable.cfg

# exclude .bak files EXCEPT in backups
**/*.bak
!backup/**/*.bak

# exclude raw art files. not included in /backup/ because they are usually too large to commit anyway
**/*.psd
**/*.mdp
**/*.xcf

