
backup-daily/f_lowe_y/ghost/master/profile
*/profile
*.bak
*.psd
*.log
Updates/f_lowe_y/ghost/master/profile/ghost.dat
Updates/f_lowe_y/ghost/master/profile/history.dat
Updates/f_lowe_y/ghost/master/profile/var.txt
Updates/yaub_undertext/profile/var.txt
updates/statusBOT/ghost/master/yaya_variable.cfg
